body { 
  padding: 5px;
}
section { 
  padding: 5px;
  margin-left:5px;
}
#canvasWrap{
  margin-left:5px;
  margin-right:15px;
  border:solid; 
  float:left;
}
canvas {

  width: 500px;
  height: 500px;

}

#selectedLoop {
  float:left;
}
